# Ignore IDE and editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore Git
.git/
.gitignore

# Ignore Docker-related files (optional)
docker-compose.override.yml

# Ignore other unnecessary files
.DS_Store
Thumbs.db